.vs/
XamarinDemo/XamarinDemo.Android/obj/
XamarinDemo/XamarinDemo.Android/bin/
XamarinDemo/XamarinDemo/obj/
XamarinDemo/XamarinDemo/bin/
XamarinDemo/XamarinDemo.iOS/obj/
XamarinDemo/XamarinDemo.Android/XamarinDemo.Android.csproj.user
