.vs/
XamarinLabs/XamarinLabs.Android/obj/
XamarinLabs/XamarinLabs.Android/bin/
XamarinLabs/XamarinLabs/obj/
XamarinLabs/XamarinLabs/bin/
XamarinLabs/XamarinLabs.iOS/obj/
XamarinLabs/XamarinLabs.Android/XamarinDemo.Android.csproj.user
